* 
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}
canvas{
    margin-top: -18.6%;
    margin-left: -0.5%;
}
.webgl
{
    position: relative;
    top: 0;
    left: 0;
    outline: none;
}